<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    >
      <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>servlet.GetDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBofInfoServlet</servlet-name>
    <servlet-class>servlet.GetBofInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMusicListServlet</servlet-name>
    <servlet-class>servlet.GetMusicListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGameListServlet</servlet-name>
    <servlet-class>servlet.GetGameListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGameInfoServlet</servlet-name>
    <servlet-class>servlet.GetGameInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetIncludeServlet</servlet-name>
    <servlet-class>servlet.GetIncludeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchMusicServlet</servlet-name>
    <servlet-class>servlet.SearchMusicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertLikeServlet</servlet-name>
    <servlet-class>servlet.InsertLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLikeServlet</servlet-name>
    <servlet-class>servlet.GetLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterNicknameServlet</servlet-name>
    <servlet-class>servlet.AlterNicknameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterSexServlet</servlet-name>
    <servlet-class>servlet.AlterSexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterBirthdayServlet</servlet-name>
    <servlet-class>servlet.AlterBirthdayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JudgeLikeServlet</servlet-name>
    <servlet-class>servlet.JudgeLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserListServlet</servlet-name>
    <servlet-class>servlet.GetUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>servlet.ResetPasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/servlet/GetDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBofInfoServlet</servlet-name>
    <url-pattern>/servlet/GetBofInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMusicListServlet</servlet-name>
    <url-pattern>/servlet/GetMusicListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGameListServlet</servlet-name>
    <url-pattern>/servlet/GetGameListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGameInfoServlet</servlet-name>
    <url-pattern>/servlet/GetGameInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetIncludeServlet</servlet-name>
    <url-pattern>/servlet/GetIncludeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMusicServlet</servlet-name>
    <url-pattern>/servlet/SearchMusicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertLikeServlet</servlet-name>
    <url-pattern>/servlet/InsertLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLikeServlet</servlet-name>
    <url-pattern>/servlet/GetLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterNicknameServlet</servlet-name>
    <url-pattern>/servlet/AlterNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterSexServlet</servlet-name>
    <url-pattern>/servlet/AlterSexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterBirthdayServlet</servlet-name>
    <url-pattern>/servlet/AlterBirthdayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JudgeLikeServlet</servlet-name>
    <url-pattern>/servlet/JudgeLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserListServlet</servlet-name>
    <url-pattern>/servlet/GetUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/servlet/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>